.container {
  width: 303px;
  height: 121px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fafafa;
  top: 350px;
  left: -50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
}

.arrow {
  width: 43px;
  height: 43px;
  flex-shrink: 0;
  border-radius: 13px;
  background: var(--mint-green);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes bounceRandom {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(200px, 100px);
  }
  20% {
    transform: translate(300px, 300px);
  }
  30% {
    transform: translate(400px, 400px);
  }
  40% {
    transform: translate(50px, 200px);
  }
  50% {
    transform: translate(300px, 50px);
  }
  60% {
    transform: translate(200px, 350px);
  }
  70% {
    transform: translate(150px, 400px);
  }
  80% {
    transform: translate(100px, 100px);
  }
  90% {
    transform: translate(250px, 200px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 768px) {
  .container {
    top: 315px;
    width: 248px;
    height: 81px;
    flex-shrink: 0;
    left: -16px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    top: 240px;
    width: 248px;
    height: 81px;
    flex-shrink: 0;
    left: -10px;
  }
}
